<a href="https://colab.research.google.com/github/iampramodyadav/SQL/blob/main/1_2_SQL_Hands_on_Lab(IBM_Coursera).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Databases and SQL for Data Science with Python: IBM (Coursera)


---
In this Notebook I implemented HANDS ON LAB of problems in python via SqlAlchemy

# Creating CSV Dataset and Making SQL Connection

## Creating CSV file (as given in Dataset)

In [1]:
import pandas as pd
from sqlalchemy import insert

In [2]:
import csv
ColName=['ins_id',	'lastname',	'firstname','city',	'country']

RowData=[[1,	'Ahuja',	'Rav',	'Toronto',	'CA'],
         [2,	'Chong',	'Raul',	'Toronto'	,'CA'],
         [3,	'Vasudevan','Hima',	'Chicago'	,'US']]

filename='Instructor.csv'

with open(filename, 'w') as csvfile:
	# creating a csv writer object
	csvwriter = csv.writer(csvfile)
		
	# writing the fields
	csvwriter.writerow(ColName)
		
	# writing the data rows
	csvwriter.writerows(RowData)

In [3]:
Instructor=pd.read_csv("Instructor.csv")

In [4]:
Instructor.head()

   ins_id   lastname firstname     city country
0       1      Ahuja       Rav  Toronto      CA
1       2      Chong      Raul  Toronto      CA
2       3  Vasudevan      Hima  Chicago      US

In [5]:
Instructor.head()

   ins_id   lastname firstname     city country
0       1      Ahuja       Rav  Toronto      CA
1       2      Chong      Raul  Toronto      CA
2       3  Vasudevan      Hima  Chicago      US

## Importing Library

In [6]:
import pandas as pd

from sqlalchemy import create_engine

In [7]:
Instructor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ins_id     3 non-null      int64
 1   lastname   3 non-null      object
 2   firstname  3 non-null      object
 3   city       3 non-null      object
 4   country    3 non-null      object
dtypes: int64(1), object(4)
memory usage: 248.0+ bytes

## Making SQL connection (to CSV)

In [8]:
temp_db = create_engine('sqlite:///:memory:')

In [9]:
Instructor.to_sql(name='Instructors',con=temp_db)

In [10]:
pd.read_sql(sql='Instructors',con=temp_db)

   index  ins_id   lastname firstname     city country
0      0       1      Ahuja       Rav  Toronto      CA
1      1       2      Chong      Raul  Toronto      CA
2      2       3  Vasudevan      Hima  Chicago      US



---

## Exploring Database

In [11]:
pd.read_sql_query(sql="SELECT *  FROM Instructors",con=temp_db)

   index  ins_id   lastname firstname     city country
0      0       1      Ahuja       Rav  Toronto      CA
1      1       2      Chong      Raul  Toronto      CA
2      2       3  Vasudevan      Hima  Chicago      US

In [12]:
pd.read_sql_query("SELECT * FROM sqlite_master where type = 'table'", con=temp_db)

    type  ...                                                sql
0  table  ...  CREATE TABLE "Instructors" (\n\t"index" BIGINT...

[1 rows x 5 columns]

# Hands-on Lab : INSERT, UPDATE, DELETE
In this lab, we will learn some commonly used DML (Data Manipulation Language) statements of SQL other than SELECT. First, we will learn the INSERT statement, which is used to insert new rows into a table. Next, we will learn the UPDATE statement which is used to update the data in existing rows in the table. Lastly, we will learn the DELETE statement which is used to remove rows from a table.

# Exercise 1: INSERT

## Task A: Example exercises on INSERT

Problem-1: 

**Insert a new instructor record with id 4 for Sandip Saha who lives in Edmonton, CA into the "Instructor" table.**

In [13]:
pd.read_sql_query(sql="""

                      INSERT INTO Instructors(ins_id, lastname, firstname, city, country)
                      VALUES(4, 'Saha', 'Sandip', 'Edmonton', 'CA');
                      
                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [14]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id   lastname firstname      city country
0    0.0       1      Ahuja       Rav   Toronto      CA
1    1.0       2      Chong      Raul   Toronto      CA
2    2.0       3  Vasudevan      Hima   Chicago      US
3    NaN       4       Saha    Sandip  Edmonton      CA

Problem-2:

**Insert two new instructor records into the "Instructor" table. First record with id 5 for John Doe who lives in Sydney, AU. Second record with id 6 for Jane Doe who lives in Dhaka, BD.**

In [15]:
pd.read_sql_query(sql="""

                      INSERT INTO Instructors(ins_id, lastname, firstname, city, country)
                      VALUES(5, 'Doe', 'John', 'Sydney', 'AU'), (6, 'Doe', 'Jane', 'Dhaka', 'BD');
                      
                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [16]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id   lastname firstname      city country
0    0.0       1      Ahuja       Rav   Toronto      CA
1    1.0       2      Chong      Raul   Toronto      CA
2    2.0       3  Vasudevan      Hima   Chicago      US
3    NaN       4       Saha    Sandip  Edmonton      CA
4    NaN       5        Doe      John    Sydney      AU
5    NaN       6        Doe      Jane     Dhaka      BD

## Task B: Practice exercises on INSERT

Problem:

**Insert a new instructor record with id 7 for Antonio Cangiano who lives in Vancouver, CA into the "Instructor" table.**

In [17]:
pd.read_sql_query(sql="""

                      INSERT INTO Instructors(ins_id, lastname, firstname, city, country)
                      VALUES(7, 'Cangiano', 'Antonio', 'Vancouver', 'CA');
                      
                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [18]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id   lastname firstname       city country
0    0.0       1      Ahuja       Rav    Toronto      CA
1    1.0       2      Chong      Raul    Toronto      CA
2    2.0       3  Vasudevan      Hima    Chicago      US
3    NaN       4       Saha    Sandip   Edmonton      CA
4    NaN       5        Doe      John     Sydney      AU
5    NaN       6        Doe      Jane      Dhaka      BD
6    NaN       7   Cangiano   Antonio  Vancouver      CA

Problem:

**Insert two new instructor records into the "Instructor" table. First record with id 8 for Steve Ryan who lives in Barlby, GB. Second record with id 9 for Ramesh Sannareddy who lives in Hyderabad, IN.**

In [19]:
pd.read_sql_query(sql="""

                      INSERT INTO Instructors(ins_id, lastname, firstname, city, country)
                      VALUES(8, 'Ryan', 'Steve', 'Barlby', 'GB'), (9, 'Sannareddy', 'Ramesh', 'Hyderabad', 'IN');
                      
                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [20]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id    lastname firstname       city country
0    0.0       1       Ahuja       Rav    Toronto      CA
1    1.0       2       Chong      Raul    Toronto      CA
2    2.0       3   Vasudevan      Hima    Chicago      US
3    NaN       4        Saha    Sandip   Edmonton      CA
4    NaN       5         Doe      John     Sydney      AU
5    NaN       6         Doe      Jane      Dhaka      BD
6    NaN       7    Cangiano   Antonio  Vancouver      CA
7    NaN       8        Ryan     Steve     Barlby      GB
8    NaN       9  Sannareddy    Ramesh  Hyderabad      IN

# Exercise 2: UPDATE

## Task A: Example exercises on UPDATE

Problem:

**Update the city for Sandip to Toronto.**

In [21]:
pd.read_sql_query(sql="""

                      UPDATE Instructors 
                      SET city='Toronto' 
                      WHERE firstname="Sandip";
                      
                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [22]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id    lastname firstname       city country
0    0.0       1       Ahuja       Rav    Toronto      CA
1    1.0       2       Chong      Raul    Toronto      CA
2    2.0       3   Vasudevan      Hima    Chicago      US
3    NaN       4        Saha    Sandip    Toronto      CA
4    NaN       5         Doe      John     Sydney      AU
5    NaN       6         Doe      Jane      Dhaka      BD
6    NaN       7    Cangiano   Antonio  Vancouver      CA
7    NaN       8        Ryan     Steve     Barlby      GB
8    NaN       9  Sannareddy    Ramesh  Hyderabad      IN

Problem:

**Update the city and country for Doe with id 5 to Dubai and AE respectively.**

In [23]:
pd.read_sql_query(sql="""

                      UPDATE Instructors
                      SET city='Dubai', Country='AE'
                      WHERE ins_id=5
                      
                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [24]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id    lastname firstname       city country
0    0.0       1       Ahuja       Rav    Toronto      CA
1    1.0       2       Chong      Raul    Toronto      CA
2    2.0       3   Vasudevan      Hima    Chicago      US
3    NaN       4        Saha    Sandip    Toronto      CA
4    NaN       5         Doe      John      Dubai      AE
5    NaN       6         Doe      Jane      Dhaka      BD
6    NaN       7    Cangiano   Antonio  Vancouver      CA
7    NaN       8        Ryan     Steve     Barlby      GB
8    NaN       9  Sannareddy    Ramesh  Hyderabad      IN

## Task B: Practice exercises on UPDATE

Problem:

**Update the city of the instructor record to Markham whose id is 1.**

In [25]:
pd.read_sql_query(sql="""

                      UPDATE Instructors
                      SET city='Markham' 
                      WHERE ins_id=1;
                      
                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [26]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id    lastname firstname       city country
0    0.0       1       Ahuja       Rav    Markham      CA
1    1.0       2       Chong      Raul    Toronto      CA
2    2.0       3   Vasudevan      Hima    Chicago      US
3    NaN       4        Saha    Sandip    Toronto      CA
4    NaN       5         Doe      John      Dubai      AE
5    NaN       6         Doe      Jane      Dhaka      BD
6    NaN       7    Cangiano   Antonio  Vancouver      CA
7    NaN       8        Ryan     Steve     Barlby      GB
8    NaN       9  Sannareddy    Ramesh  Hyderabad      IN

Problem:

**Update the city and country for Sandip with id 4 to Dhaka and BD respectively.**

In [28]:
pd.read_sql_query(sql="""

                      UPDATE Instructors 
                      SET city='Dhaka', country='BD' 
                      WHERE ins_id=4;

                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [29]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id    lastname firstname       city country
0    0.0       1       Ahuja       Rav    Markham      CA
1    1.0       2       Chong      Raul    Toronto      CA
2    2.0       3   Vasudevan      Hima    Chicago      US
3    NaN       4        Saha    Sandip      Dhaka      BD
4    NaN       5         Doe      John      Dubai      AE
5    NaN       6         Doe      Jane      Dhaka      BD
6    NaN       7    Cangiano   Antonio  Vancouver      CA
7    NaN       8        Ryan     Steve     Barlby      GB
8    NaN       9  Sannareddy    Ramesh  Hyderabad      IN

# Exercise 3: DELETE

## Task A: Example exercise on DELETE

Problem:

**Remove the instructor record of Doe whose id is 6.**

In [30]:
pd.read_sql_query(sql="""

                      DELETE FROM instructors
                      WHERE ins_id = 6;
                      
                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [31]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id    lastname firstname       city country
0    0.0       1       Ahuja       Rav    Markham      CA
1    1.0       2       Chong      Raul    Toronto      CA
2    2.0       3   Vasudevan      Hima    Chicago      US
3    NaN       4        Saha    Sandip      Dhaka      BD
4    NaN       5         Doe      John      Dubai      AE
5    NaN       7    Cangiano   Antonio  Vancouver      CA
6    NaN       8        Ryan     Steve     Barlby      GB
7    NaN       9  Sannareddy    Ramesh  Hyderabad      IN

## Task B: Practice exercise on DELETEn

Problem:

**Remove the instructor record of Hima.**

In [32]:
pd.read_sql_query(sql="""

                      DELETE FROM instructors
                      WHERE firstname = 'Hima';

                      
                      """,con=temp_db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

ResourceClosedError: ignored

In [33]:
pd.read_sql_query(sql="""SELECT *  FROM Instructors""",con=temp_db)

   index  ins_id    lastname firstname       city country
0    0.0       1       Ahuja       Rav    Markham      CA
1    1.0       2       Chong      Raul    Toronto      CA
2    NaN       4        Saha    Sandip      Dhaka      BD
3    NaN       5         Doe      John      Dubai      AE
4    NaN       7    Cangiano   Antonio  Vancouver      CA
5    NaN       8        Ryan     Steve     Barlby      GB
6    NaN       9  Sannareddy    Ramesh  Hyderabad      IN



---