<a href="https://colab.research.google.com/github/iampramodyadav/SQL/blob/main/SQL_Hands_on_Lab_(IBM_Coursera).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Databases and SQL for Data Science with Python: IBM (Coursera)


---

# Loading Databse

 Source: [Film Locations in San Francisco]('https://data.sfgov.org/Culture-and-Recreation/Film-Locations-in-San-Francisco/yitu-d5am?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-wwwcourseraorg-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-')

## Loading CSV file

In [1]:
!wget --header="Host: data.sfgov.org" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Safari/537.36 Edg/91.0.864.48" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9" --header="Referer: https://data.sfgov.org/Culture-and-Recreation/Film-Locations-in-San-Francisco/yitu-d5am?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-wwwcourseraorg-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" --header="Cookie: _ga=GA1.2.437002516.1624166695; _gid=GA1.2.1937309468.1624166695; _ga=GA1.3.437002516.1624166695; _gid=GA1.3.1937309468.1624166695; _gat_socrata=1; _gat_UA-53975719-1=1; socrata-csrf-token=oHVA4osvPCIR0lUsyIGTHqjVL+k6Y9xjBunNX0dvv6UUsGUAo4gT++fl5cMOcGolv/lR9lbBNRl+/rCCIq/62A==; _frontend_session=KzgxNE1HWDh2emt2MHhaOVdHT1FMU0lxc1FSM3VRUHhKYko1Vy85M0NUYmtpcll1UjVjQkxyMnFFTzVUYjJ2dEFIcXVFVUtWcmtLMHJQQWhKeTk3RWJ0eDgxeElDLzZiYUxQSU5yY0tGL21pa3QvbnhwRDZ4aU9aVXZXdEtUaVNEeEREY1NCcGFLYVgwUUlEYThwVlZBPT0tLVVFZ1k0c3BNRXlWV1d0ZjI3ZnhNeVE9PQ%3D%3D--cf05ca24f26ca84968ceda4b0038b95286dc5675" --header="Connection: keep-alive" "https://data.sfgov.org/api/views/yitu-d5am/rows.csv?accessType=DOWNLOAD" -c -O 'Film_Locations_in_San_Francisco.csv'

--2021-06-20 09:59:49--  https://data.sfgov.org/api/views/yitu-d5am/rows.csv?accessType=DOWNLOAD
Resolving data.sfgov.org (data.sfgov.org)... 52.206.140.199, 52.206.68.26, 52.206.140.205
Connecting to data.sfgov.org (data.sfgov.org)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘Film_Locations_in_San_Francisco.csv’

Film_Locations_in_S     [   <=>              ] 672.28K   740KB/s    in 0.9s

2021-06-20 09:59:51 (740 KB/s) - ‘Film_Locations_in_San_Francisco.csv’ saved [688414]

## Importing Library

In [3]:
import pandas as pd

from sqlalchemy import create_engine

In [6]:
FilmLocations=pd.read_csv('Film_Locations_in_San_Francisco.csv')

In [11]:
FilmLocations.head(3)

  Title  Release Year  ...       Actor 2      Actor 3
0   180          2011  ...  Nithya Menon  Priya Anand
1   180          2011  ...  Nithya Menon  Priya Anand
2   180          2011  ...  Nithya Menon  Priya Anand

[3 rows x 11 columns]

In [16]:
FilmLocations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3414 entries, 0 to 3413
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               3414 non-null   object
 1   Release Year        3414 non-null   int64
 2   Locations           3306 non-null   object
 3   Fun Facts           898 non-null    object
 4   Production Company  3410 non-null   object
 5   Distributor         3212 non-null   object
 6   Director            3414 non-null   object
 7   Writer              3404 non-null   object
 8   Actor 1             3406 non-null   object
 9   Actor 2             3228 non-null   object
 10  Actor 3             2470 non-null   object
dtypes: int64(1), object(10)
memory usage: 293.5+ KB

## Renaming Culumn without space

In [27]:
FilmLocations=FilmLocations.rename(columns={"Release Year": "ReleaseYear","Fun Facts":"FunFacts", "Production Company": "ProductionCompany","Actor 1":"Actor1","Actor 2":"Actor2","Actor 3":"Actor3"})

In [28]:
FilmLocations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3414 entries, 0 to 3413
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              3414 non-null   object
 1   ReleaseYear        3414 non-null   int64
 2   Locations          3306 non-null   object
 3   FunFacts           898 non-null    object
 4   ProductionCompany  3410 non-null   object
 5   Distributor        3212 non-null   object
 6   Director           3414 non-null   object
 7   Writer             3404 non-null   object
 8   Actor1             3406 non-null   object
 9   Actor2             3228 non-null   object
 10  Actor3             2470 non-null   object
dtypes: int64(1), object(10)
memory usage: 293.5+ KB

## Making SQL connection (from CSV)

In [29]:
temp_db = create_engine('sqlite:///:memory:')

In [30]:
FilmLocations.to_sql(name='FilmLocations',con=temp_db)

In [31]:
pd.read_sql(sql='FilmLocations',con=temp_db)

      index  ...            Actor3
0         0  ...       Priya Anand
1         1  ...       Priya Anand
2         2  ...       Priya Anand
3         3  ...       Priya Anand
4         4  ...       Priya Anand
...     ...  ...               ...
3409   3409  ...    Paul Rodriguez
3410   3410  ...  Ian Anthony Dale
3411   3411  ...  Ian Anthony Dale
3412   3412  ...              None
3413   3413  ...              None

[3414 rows x 12 columns]



---

# Hands-on Lab: Simple SELECT Statements

In [32]:
pd.read_sql_query(sql="SELECT * FROM FilmLocations",con=temp_db)

      index  ...            Actor3
0         0  ...       Priya Anand
1         1  ...       Priya Anand
2         2  ...       Priya Anand
3         3  ...       Priya Anand
4         4  ...       Priya Anand
...     ...  ...               ...
3409   3409  ...    Paul Rodriguez
3410   3410  ...  Ian Anthony Dale
3411   3411  ...  Ian Anthony Dale
3412   3412  ...              None
3413   3413  ...              None

[3414 rows x 12 columns]

# Task A: Exploring the Database

### **selective details of all the film records.**

In [33]:
pd.read_sql_query(sql="SELECT Title, Director, Writer FROM FilmLocations",con=temp_db)

                              Title  ...                                             Writer
0                               180  ...  Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba
1                               180  ...  Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba
2                               180  ...  Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba
3                               180  ...  Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba
4                               180  ...  Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba
...                             ...  ...                                                ...
3409                    Quicksilver  ...                            Thomas Michael Donnelly
3410  Murder in the First, Season 1  ...                                         Eric Lodal
3411  Murder in the First, Season 3  ...                                         Eric Lodal
3412           George of the Jungle  ...                                           Jay Ward
3413                       Alcatraz  ...                                      Steven Lilien

[3414 rows x 3 columns]

### WHERE
**Retrieve the names of all films released in the 21st century and onwards (release years after 2001 including 2001), along with filming locations and release years.**

In [35]:
pd.read_sql_query(sql="SELECT Title, ReleaseYear, Locations FROM FilmLocations WHERE ReleaseYear>=2001;",con=temp_db)

                              Title  ...                                       Locations
0                               180  ...               Epic Roasthouse (399 Embarcadero)
1                               180  ...           Mason & California Streets (Nob Hill)
2                               180  ...                             Justin Herman Plaza
3                               180  ...                         200 block Market Street
4                               180  ...                                       City Hall
...                             ...  ...                                             ...
1921                       GirlBoss  ...              Fillmore between Haight and Waller
1922              Tales of the City  ...                                Mission District
1923  Murder in the First, Season 1  ...                            50 California Street
1924  Murder in the First, Season 3  ...  Linden Alley between Octavia and Gough Streets
1925                       Alcatraz  ...            Chestnut St. from Larkin to Columbus

[1926 rows x 3 columns]

# Task C: Practice exercises on SELECT statement

### Retrieve the fun facts and filming locations of all films.

In [39]:
pd.read_sql_query(sql="SELECT FunFacts, Locations FROM FilmLocations",con=temp_db)

     FunFacts                                       Locations
0        None               Epic Roasthouse (399 Embarcadero)
1        None           Mason & California Streets (Nob Hill)
2        None                             Justin Herman Plaza
3        None                         200 block Market Street
4        None                                       City Hall
...       ...                                             ...
3409     None                          Pacific Stock Exchange
3410     None                            50 California Street
3411     None  Linden Alley between Octavia and Gough Streets
3412     None                              755 Vallejo Street
3413     None            Chestnut St. from Larkin to Columbus

[3414 rows x 2 columns]

### Retrieve the names of all films released in the 20th century and before (release years before 2000 including 2000) that, along with filming locations and release years.

In [40]:
pd.read_sql_query(sql="SELECT Title, Locations,ReleaseYear FROM FilmLocations WHERE ReleaseYear<=2000",con=temp_db)

                     Title  ... ReleaseYear
0     A Night Full of Rain  ...        1978
1     A Night Full of Rain  ...        1978
2     A Night Full of Rain  ...        1978
3     A Night Full of Rain  ...        1978
4           Vegas in Space  ...        1992
...                    ...  ...         ...
1483        Basic Instinct  ...        1992
1484               Burglar  ...        1987
1485              The Game  ...        1997
1486           Quicksilver  ...        1986
1487  George of the Jungle  ...        1997

[1488 rows x 3 columns]

### Retrieve the names, production company names, filming locations, and release years of the films which are not written by James Cameron.

**Writing query in multiple line**

In [48]:
pd.read_sql_query(sql="""SELECT Title, ProductionCompany, Locations, ReleaseYear 
                          FROM FilmLocations 
                          WHERE Writer<>'James Cameron'""",con=temp_db)

                              Title  ... ReleaseYear
0                               180  ...        2011
1                               180  ...        2011
2                               180  ...        2011
3                               180  ...        2011
4                               180  ...        2011
...                             ...  ...         ...
3351                    Quicksilver  ...        1986
3352  Murder in the First, Season 1  ...        2014
3353  Murder in the First, Season 3  ...        2016
3354           George of the Jungle  ...        1997
3355                       Alcatraz  ...        2012

[3356 rows x 4 columns]

In [50]:
pd.read_sql_query(sql="""SELECT Title, ProductionCompany, Locations, ReleaseYear 
                          FROM FilmLocations 
                          WHERE Writer!='James Cameron'
                        """,con=temp_db)

                              Title  ... ReleaseYear
0                               180  ...        2011
1                               180  ...        2011
2                               180  ...        2011
3                               180  ...        2011
4                               180  ...        2011
...                             ...  ...         ...
3351                    Quicksilver  ...        1986
3352  Murder in the First, Season 1  ...        2014
3353  Murder in the First, Season 3  ...        2016
3354           George of the Jungle  ...        1997
3355                       Alcatraz  ...        2012

[3356 rows x 4 columns]